.mainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0;
}

.calcWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.calcWrapper > p {
  font-size: 1.9rem;
  font-weight: 700;
  font-family: cursive;
}

.calculator {
  width: 50%;
}

.resultDisplayScreen {
  width: 100%;
  padding: 21px;
  background-color: #858694;
}

#result {
  font-size: 2.1rem;
  text-align: right;
  color: #fff;
}

#keypad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  background-color: #c2bfbd;
}

.calcBtn {
  padding: 21px;
  font-size: 1.5rem;
  font-weight: 1000;
  border: none;
  background-color: #e0e0e0;
}

.calcBtn[data-btntype="0"] {
  grid-column-start: 1;
  grid-column-end: 3;
}

.calcBtn[data-btntype="x"],
.calcBtn[data-btntype="÷"],
.calcBtn[data-btntype="-"],
.calcBtn[data-btntype="+"],
.calcBtn[data-btntype="="] {
  background-color: #f5913e;
}
