header {
  flex-basis: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar > li > a {
  padding: 0 21px;
  color: blue;
  font-size: 1.1rem;
  font-weight: 500;
  border-right: 2px solid gray;
}

.navbar > li:last-child > a {
  border: none;
}

.navbar > li > a.active {
  font-weight: 1000;
}
